*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.container{
    background-color:#f4f4f4;
}
.right{
   background-color: #feffff;
    float: right; 
    max-width: 56%;
    padding: 25px 30px;  
    height: 570px; 
    margin-right: 3%;
    margin-top: 1%;
}
.container .title{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    color: #223c53;
    margin-left: 10%;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    color: #3b4c58;
    margin-left: 10%;
}
form .user-details .input-box{
    margin-bottom: 12px;
width:calc(100% /2 - 11px);
font-size: 11px;
font-weight:500 ;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.user-details .input-box input{
    height: 30px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 13px;
}
.line1{
    font-weight: bold;
    margin-top: 8%;
    font-size: 15px;
    color: #657c8f;
    margin-left: 10%;  
}
.line2{
    margin-top: 5%;
    font-weight: 50;
    font-size: 11px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #91a0a6;
    margin-left: 10%;
}
.button{
    margin-top: 5%;
    margin-left: 10%;   
}
#button-edit{
    color: white;
    border-radius:5px;
    width: 30%;
    height: 40px;
    background-color: #0071ff;
    outline: none;
    border-width: 0cm;
}
label{
    font-size: 11px;
    color: #89959f;
    margin-left:2%;
    margin-top: -6%;
}
a{
    text-decoration: none;
    color: #4381c1;
}
#already{
    margin-top: 3%;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 530;
    margin-left: 10%;
}
.box{
    margin-left: 10%;
       width: 15px;
       height: 15px; 
   }

img{
    margin-top: 1%;
    width:493.1px;
    height: 571px; 
    margin-left: 4%; 
        
}